@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
/* body {
  line-height: 16px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #777777;
  background: #fff; } */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #ff6c00;
  font-weight: 500;
  line-height: 1.2 !important; }


h1 {
  font-size: 51px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 27px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em; }

.wrapper{
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}

.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #111;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background:  linear-gradient(360deg, #ff3300 40%, #ffba00 100%);
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #111;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #111;
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #111;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  border: none;
  outline: none;
  color: #111;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: linear-gradient(360deg, #ffba00 0%, #ff6c00 100%);
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-about:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.shop-by-h{
  padding: 2%; 
  text-align:center;
}

.shop-category{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around; 
  text-align:center;
  margin-bottom: 16px;
}

.single-ctg{
margin: 2em;
}

.main-categories{
  margin-top: 70px;
}

/* banner background */
.banner-area {
  background: url(../images/banner/banner.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  height: 630px;
  margin-top: 75px;
  padding-top: 3.2%;
}

@media (max-width: 768px) {
  .banner-area {
    height: 290px !important;
    margin-top: 75px;
    padding-top: 5%; } }

@media (max-width: 480px) {
  .banner-area {
    height: 190px !important;
    padding-top: 10%; } }  

/* image slider  */
#slider {
	overflow: hidden;
  
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 25s slider infinite;
}
#slider figure img {
	width: 20%;
	float: right;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

.fixed-banner {
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(../images/banner/sale.jpg)  no-repeat;
    background-size: cover;
    background-position: left center;
    padding: 125px 0 585px 0 ; 
    position: relative;
    max-width: 100%;
    flex: 0 0 10%;
    margin-top: 150px;

  }





  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
  color: #999;
  font-family: 'Poppins', sans-serif;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 5px;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 2;
  font-family: 'Poppins', sans-serif;
}
.center .content ul li a:hover {
color: #ff6c00;
}

.left .content .social a span,
.right .content .fas{
  color: #d9d9d9;
  background: #1a1a1a;
  transition: 0.3s;
  text-align: center;
}
.right .content .fas{
  font-size: 1.4375rem;
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  cursor: pointer;

}
.right .content .fas:hover{
  background: #f12020;
}
.right .content .text{
  font-family: 'Poppins', sans-serif;
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #999;
}
.right .content .text a { 
  color: #999;
  font-family: 'Poppins', sans-serif;
}
.right .content .text a:hover { 
  color: #ff6c00;
}
.right .content .phone{
  margin: 25px 0;
}

.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #999;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
.bottom .credit .heart{color:#E90606;
}


/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* Login/Signup  */
.login-area{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/banner/banner.jpg) center no-repeat;
  background-size: cover;
  padding: 30px;
}
.sign-container{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.sign-container .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.sign-container #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
 .sign-container .cover .front,
 .sign-container .cover .back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.sign-container .cover::before,
.sign-container .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  opacity: 0.5;
  z-index: 12;
}
.sign-container .cover::after{
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.sign-container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.sign-container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.sign-container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #ff6c00 ;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #ff6c00 ;
}
.form-content .input-box i{
  position: absolute;
  color: #ff6c00 ;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background:  linear-gradient(360deg, #ff3300 40%, #ffba00 100%);
}
.forms .form-content label{
  color: #ff6c00;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.sign-container #flip{
  display: none;
}
@media (max-width: 730px) {
  .sign-container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .sign-container #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .sign-container #flip:checked ~ .forms .login-form{
    display: none;
  }
}

/* Products slider area */

/* prdct banner background */
#banner-area-prdct {
  background: url(../images/banner/banner.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  margin-top: 75px;
  padding-top: 3.2%;
}
@media (max-width: 768px) {
  #banner-area-prdct {
    height: 290px !important;
    margin-top: 75px;
    padding-top: 5%; } }

@media (max-width: 480px) {
  #banner-area-prdct {
    height: 190px !important;
    padding-top: 10%; } }  

.main-products{
	margin:0px;
	padding: 0px;
	background-color:#eef8ff;
  /* background: url(../images/banner/banner.jpg) center repeat;
  background-size: contain; */
 
}
.main-products .prdct-slider a, .main-products .prdct-slider2 a{
	text-decoration:none;
}
.box-slider{
	width:295px;
  height: 300px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
  background-color: #fff;
	margin: 25px;

}
.slide-img{
	height: 180px;
	position:relative;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: scale-down;
	box-sizing: border-box;
}
.detail-box{
	width: 100%;
display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}
.type{
	display: flex;
	flex-direction: column;
}
.type a{
	color:#111;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.prdct-slider .detail-box a:hover, .prdct-slider2 .detail-box a:hover{
  color:  #05f;
}
.type span{
	color:rgba(26,26,26,0.5);
  font-weight: 700;
}
.price{
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}
.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(255, 186, 0 ,0.6); 
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-btn{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
	color:#111;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
	color:#FFFFFF;
	background: linear-gradient(360deg, #ff3300 40%, #ffba00 100%);
	transition: all ease 0.3s;
}
.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.prdct-slider{
	width:100%;
	min-height: 23.1rem;
	display: flex;
	justify-content: center;
}

.section-title {
  position: relative;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}

.section-title .title {
  display: inline-block;
  text-transform: capitalize;
  margin: 0px;
}

.prdct-slider2{
	width:100%;
	min-height: 28.3rem;
	display: flex;
	justify-content: center;
}

/* Products details page area */
.large-container{
  max-width: 1600px;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-product{
  margin-top: 1.1rem;
}

.single-product .col-2 img{
  padding: 0;
}

.single-product .col-2{
  padding: 20px;
}

.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product h4{
  margin: 20px  0;
  font-size: 22px;
  font-weight: bold;
  color: #111;
}
.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus{
  outline: none;
}
.single-product .fa{
  color: #ff523b;
  margin-left: 10px;
}

.small-img-row{
  display: flex;
  justify-content: space-around;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
a{
  text-decoration: none;
  color: #555;
}
.col-2 p{
    color: #555;
}
.p-btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px  30px;
  margin: 30px  0;
  border-radius: 30px;
  transition: background 0.5s;
}
.p-btn:hover{
  background: #563434;
}

@media (max-width: 600px){
  .single-product .row{
    text-align: left;
  }
  .single-product .col-2{
    padding: 20px 0;
  }
  .single-product h1{
    font-size: 26px;
    line-height: 32px;
  }
}
/*  Top banner */
#top-banner {
  background: url(../images/banner/common-banner.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 280px;
  margin-top: 75px;
  padding-top: 3.2%;
}
/*  Shopping Cart */

.whiteSpace {
  width: 100%;
  height: 5.45rem;
}

.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}
td{
  padding: 10px 4px;
  vertical-align: middle;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #ff0000;
  font-size: 12px;
  font-weight: bolder;
}
td img{
  width: 150px;
  height: 100px;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
small { 
  font-size: smaller;
}

@media (max-width: 600px){
  .cart-info p{
    display: none;
  }
  .section-title .title {
    font-size: 26px;
  }
}

/*About Page*/
.about-section {
  max-width: 100%;
}
.about-container{
  width: 80%;
	display: block;
	margin: 0px auto;
	padding-top: 50px 0px;
}
.about-container .a-title{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
.about-container .a-title h1{
  text-transform: capitalize;
}
.about-container .a-title h1::after{
content:" ";
height: 5px;
width: 15rem;
background-color: #ffba00;
border-radius: 25px;
display: block;
margin:auto;
}
.about-container .about-content{
  display: flex;
  flex-wrap: wrap;
  text-align: start;
}
.about-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.about-img img{
	width: auto;
	height: auto;
  display: block;
  border-radius: 1rem;
}
.about-content .article p{
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  font-weight: bold;
}
 .about-container .ab-social{
	width: 100%;
  clear: both;
  margin-top: 50px;
  display: inline-block;
  text-align: center;

}
.about-container .ab-social i{
	color:#202020;
	font-size: 25px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
	padding:0px 5px;
}
.about-container .ab-social i:hover{
	color:#fff;
  background: linear-gradient(360deg, #ff3300 70%, #ffba00 90%);
  transition: all ease 0.6s;
  transform: rotate(360deg);
}
.about-container .contact .fas{
  color: #202020;
  background: linear-gradient(90deg, #95c542 0%, #d0d42e 100%);
  transition: 0.3s;
  text-align: center;

  font-size: 1.4375rem;
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.about-container .contact .fas:hover{
  background: linear-gradient(360deg, #ff3300 40%, #95c542 90%);
}
.about-container .contact .text{
  font-family: 'Poppins', sans-serif;
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #111;
}
.about-container .contact .text a { 
  color: #111;
  font-family: 'Poppins', sans-serif;
}
.about-container .contact .text a:hover { 
  color: #ff6c00;
}
.about-container .contact .phone{
  margin: 25px 0;
}

@media (max-width: 768px){
  .about-img{
    width: 100%;

  }
  .about-img img{
    width: 100%;
    margin: auto;
  }
  .about-container .a-title h1{
    font-size: 30px;
  }
}